<template>
  <div class="base">
    <div class="scene">
      <div class="scene__first-group">
        <template v-for="murren in leftSide">
          <transition name="slide-fade-minus-y" :key="murren.murren_player_id">
            <div
              class="murren_card"
              v-if="
                !defeatedMurrenNameList.includes(
                  murren.murren_player_data.murren_name
                )
              "
              :key="murren.murren_player_id"
              :class="[
                {
                  'murren-turn':
                    murren.murren_player_data.murren_name ===
                    turnNow.murren_name,
                },
                {
                  [attackOnMurrenCssAnimation]:
                    murren.murren_player_data.murren_name === targetMurrenName,
                },
              ]"
              @click="attackOnMurren(murren)"
            >
              <div class="murren_card-name">
                {{ murren.murren_player_data.murren_name }}
              </div>
              <img
                class="murren_card-avatar"
                :src="murren.murren_player_data.murren_avatar"
                alt=""
              />

              <div class="murren_card-stats">
                <div class="murren_card-stats-container">
                  <transition name="el-zoom-in-center" mode="out-in">
                    <div
                      class="murren_card-stats-change-hp"
                      v-if="
                        attackOnMurrenDamage &&
                        murren.murren_player_data.murren_name ===
                          targetMurrenName
                      "
                    >
                      {{ attackOnMurrenDamage }}
                    </div>
                  </transition>
                </div>
                <div class="murren_card-stats-container">
                  <div class="murren_card-stats-hp">
                    <el-progress
                      class="murren_card-stats-hp__bar"
                      :text-inside="false"
                      :show-text="false"
                      :stroke-width="24"
                      :percentage="
                        (murren.murren_player_data.hp /
                          murren.murren_player_data.max_hp) *
                        100
                      "
                    ></el-progress>
                    <div class="murren_card-stats-hp__value">
                      {{ murren.murren_player_data.hp }}
                    </div>
                  </div>
                </div>
              </div>

              <img
                class="murren_card-gif"
                v-if="showAnimation"
                v-show="
                  attackOnMurrenGif &&
                  murren.murren_player_data.murren_name === targetMurrenName
                "
                :src="attackOnMurrenGif"
                alt=""
              />
            </div>
          </transition>
        </template>
      </div>

      <div class="scene__second-group">
        <template v-for="murren in rightSide">
          <transition name="slide-fade-minus-y" :key="murren.murren_player_id">
            <div
              class="murren_card murren_card-opponent"
              v-if="
                !defeatedMurrenNameList.includes(
                  murren.murren_player_data.murren_name
                )
              "
              :key="murren.murren_player_id"
              :class="[
                {
                  'murren-turn':
                    murren.murren_player_data.murren_name ===
                    turnNow.murren_name,
                },
                {
                  [attackOnMurrenCssAnimation]:
                    murren.murren_player_data.murren_name === targetMurrenName,
                },
              ]"
              @click="attackOnMurren(murren)"
            >
              <div class="murren_card-name">
                {{ murren.murren_player_data.murren_name }}
              </div>

              <img
                class="murren_card-avatar"
                :src="murren.murren_player_data.murren_avatar"
                alt=""
              />

              <div class="murren_card-stats">
                <div class="murren_card-stats-container">
                  <transition name="el-zoom-in-center" mode="out-in">
                    <!--                    <div class="">1</div>-->
                    <div
                      class="murren_card-stats-change-hp"
                      v-if="
                        attackOnMurrenDamage &&
                        murren.murren_player_data.murren_name ===
                          targetMurrenName
                      "
                    >
                      {{ attackOnMurrenDamage }}
                    </div>
                  </transition>
                </div>
                <div class="murren_card-stats-container">
                  <div class="murren_card-stats-hp">
                    <el-progress
                      class="murren_card-stats-hp__bar"
                      :text-inside="false"
                      :show-text="false"
                      :stroke-width="24"
                      :percentage="
                        (murren.murren_player_data.hp /
                          murren.murren_player_data.max_hp) *
                        100
                      "
                    ></el-progress>
                    <div class="murren_card-stats-hp__value">
                      {{ murren.murren_player_data.hp }}
                    </div>
                  </div>
                </div>
              </div>

              <img
                v-if="showAnimation"
                v-show="
                  attackOnMurrenGif &&
                  murren.murren_player_data.murren_name === targetMurrenName
                "
                class="murren_card-gif"
                :src="attackOnMurrenGif"
                alt=""
              />
            </div>
          </transition>
        </template>
      </div>
    </div>

    <div class="data">
      <div class="data-left">
        <block-skills
          v-if="murrenPlayerData.murren_id"
          :player="murrenPlayerData"
          :murren-turn="murrenTurn"
          :chosen-skill="chosenSkill"
          @chosen-skill="choseSkill"
        />
      </div>

      <div class="data-right">
        <speed
          v-if="privateBattleRoomData.turn_list"
          :list="privateBattleRoomData.turn_list"
          :counter="cssTurnEndedCounter"
        />
      </div>
    </div>

    <transition name="slide-fade-x" mode="out-in">
      <div v-if="showFinalPlank" class="final-plank">
        <div
          v-if="
            this.winnerGroupData.winners_name.includes(
              this.$store.getters.currentMurren.username
            )
          "
          class="final-plank_text"
        >
          <div>Победа</div>
          <div>Опыт +5</div>
        </div>
        <div v-else class="final-plank_text">
          <div>Поражение</div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { websocket_base_url } from "../../devAndProdVariables";

import Speed from "./common/Speed.vue";
import BlockSkills from "./common/BlockSkills.vue";

import "./scss/battle-scene.scss";
import "./scss/skills-plank.scss";

export default {
  name: "BattleScene",

  components: {
    Speed,
    BlockSkills,
  },

  data: () => ({
    privateBattleRoomSocket: null,
    contextRoom: null,

    privateBattleRoomSocketMessage: false,
    privateBattleRoomData: [],

    attackOnMurrenDamage: false,
    chosenSkill: false,

    showAnimation: false,
    attackOnMurrenCssAnimation: "",
    attackOnMurrenGif: "",

    targetMurrenName: false,
    showFinalPlank: false,
    winnerGroupData: false,

    recoveryHP: false,

    canExecute: true,

    defeatedMurrenNameList: [],

    turnTimeoutInterval: false,
    turnTimeoutCounter: 20000,

    cssTurnEndedInterval: false,
    cssTurnEndedCounter: 20,
  }),
  watch: {
    turnNow() {
      clearInterval(this.turnTimeoutInterval);
      clearInterval(this.cssTurnEndedInterval);
      this.cssTurnEndedCounter = 20;

      this.cssTurnEndedInterval = setInterval(() => {
        this.cssTurnEndedCounter -= 1;
      }, 1000);

      if (
        this.turnNow.murren_name === this.$store.getters.currentMurren.username
      ) {
        this.turnTimeoutInterval = setInterval(() => {
          this.privateBattleRoomSocket.send(
            JSON.stringify({
              data: {
                chosen_skill: {
                  name: "skip",
                },
                target_murren: { murren_player_data: this.murrenPlayerData },
                murr_game_room_instance:
                  this.privateBattleRoomData.murr_game_room_instance,
              },
              gan: "turn_eval",
            })
          );
        }, this.turnTimeoutCounter);
      }
    },
  },

  computed: {
    murrenPlayerData() {
      if (this.privateBattleRoomData.length === 0) return {};
      const objects = [];
      Object.values(this.privateBattleRoomData).map((array) =>
        objects.push(...array)
      );
      const result = objects.find(
        (item) =>
          item.murren_player_data &&
          item.murren_player_data.murren_id ===
            this.$store.getters.currentMurren.id
      );
      return result.murren_player_data;
    },
    leftSide() {
      if (this.privateBattleRoomData.length === 0) return [];
      if (
        this.privateBattleRoomData.first_group.find(
          (item) =>
            item.murren_player_id === this.$store.getters.currentMurren.id
        )
      )
        return this.privateBattleRoomData.first_group;
      return this.privateBattleRoomData.second_group;
    },
    rightSide() {
      if (this.privateBattleRoomData.length === 0) return [];
      if (
        this.privateBattleRoomData.first_group.find(
          (item) =>
            item.murren_player_id === this.$store.getters.currentMurren.id
        )
      )
        return this.privateBattleRoomData.second_group;
      return this.privateBattleRoomData.first_group;
    },
    turnNow() {
      if (this.privateBattleRoomData.length === 0) return [];
      return this.privateBattleRoomData.turn_list[0];
    },
    murrenTurn() {
      if (this.privateBattleRoomData.length === 0) return false;
      return (
        this.turnNow.murren_name === this.$store.getters.currentMurren.username
      );
    },
  },
  props: {
    roomData: {
      type: Object,
      required: true,
    },
  },
  beforeMount() {
    this.contextRoom = this.roomData;
  },
  mounted() {
    this.setShowCreateMurrBattleRoomBtn_mutations(true);
    let token = this.$store.getters.currentMurren.token;
    this.privateBattleRoomSocket = new WebSocket(
      websocket_base_url + this.contextRoom.room_link + "?token=" + token
    );
    this.privateBattleRoomSocket.onopen = () => {
      window.addEventListener("beforeunload", this.oneOfMurrensLeaveBattleRoom);
    };
    this.privateBattleRoomSocket.onmessage = (event) => {
      this.privateBattleRoomSocketMessage = JSON.parse(event.data);

      if (this.privateBattleRoomSocketMessage.gan === "murrGameRoomPrepared") {
        this.privateBattleRoomData = this.privateBattleRoomSocketMessage.data;
      }

      if (
        this.privateBattleRoomSocketMessage.gan === "murren_leave_battle_room"
      ) {
        this.showLeaverMessage(
          this.privateBattleRoomSocketMessage.data.murren_leaver_name
        );
        this.privateBattleRoomSocket.close();
      }

      if (this.privateBattleRoomSocketMessage.gan === "turn_eval") {
        this.showAnimation = true;
        this.privateBattleRoomData.first_group =
          this.privateBattleRoomSocketMessage.data.first_group;
        this.privateBattleRoomData.second_group =
          this.privateBattleRoomSocketMessage.data.second_group;
        this.privateBattleRoomData.turn_list =
          this.privateBattleRoomSocketMessage.data.turn_list;
        this.attackOnMurrenCssAnimation =
          this.privateBattleRoomSocketMessage.data.temporary_skill_data.css_animation;
        this.attackOnMurrenGif =
          this.privateBattleRoomSocketMessage.data.temporary_skill_data.gif;
        this.targetMurrenName =
          this.privateBattleRoomSocketMessage.data.target_murren.murren_name;

        this.canExecute =
          this.privateBattleRoomSocketMessage.data.temporary_skill_data.can_execute;

        if (this.chosenSkill?.name === "skip") {
          this.chosenSkill = false;
        }

        setTimeout(() => {
          this.attackOnMurrenCssAnimation = "";
          this.attackOnMurrenGif = "";

          this.canExecute = true;

          this.attackOnMurrenDamage =
            this.privateBattleRoomSocketMessage.data.temporary_skill_data.damage;
        }, 1000);

        setTimeout(() => {
          if (
            this.privateBattleRoomSocketMessage.data.defeated_murren_name_list
          ) {
            this.defeatedMurrenNameList =
              this.privateBattleRoomSocketMessage.data.defeated_murren_name_list;
          }
        }, 1500);

        setTimeout(() => {
          this.attackOnMurrenDamage = false;
          if (this.privateBattleRoomSocketMessage.data.winner_group_data) {
            this.showFinalPlank = true;
            this.winnerGroupData =
              this.privateBattleRoomSocketMessage.data.winner_group_data;
            this.privateBattleRoomSocket.close();
          }
        }, 2000);
      }
    };
  },
  methods: {
    ...mapMutations({
      setShowCreateMurrBattleRoomBtn_mutations:
        "setShowCreateMurrBattleRoomBtn_mutations",
    }),
    attackOnMurren(target_murren) {
      if (this.murrenTurn && this.chosenSkill) {
        this.privateBattleRoomSocket.send(
          JSON.stringify({
            data: {
              chosen_skill: this.chosenSkill,
              target_murren: target_murren,
              murr_game_room_instance:
                this.privateBattleRoomData.murr_game_room_instance,
            },
            gan: "turn_eval",
          })
        );
        this.chosenSkill = false;
      }
    },
    choseSkill(skill) {
      this.chosenSkill = skill;
      if (this.murrenTurn && this.chosenSkill.self_auto_use === true) {
        this.privateBattleRoomSocket.send(
          JSON.stringify({
            data: {
              chosen_skill: this.chosenSkill,
              target_murren: { murren_player_data: this.murrenPlayerData },
              murr_game_room_instance:
                this.privateBattleRoomData.murr_game_room_instance,
            },
            gan: "turn_eval",
          })
        );
      }
    },
    oneOfMurrensLeaveBattleRoom() {
      this.privateBattleRoomSocket.send(
        JSON.stringify({
          data: {
            murren_id: this.$store.getters.currentMurren.id,
            murren_name: this.$store.getters.currentMurren.username,
          },
          gan: "murren_leave_battle_room",
        })
      );
    },
    showLeaverMessage(murren_leaver_name) {
      this.$confirm(
        `Муррен ${murren_leaver_name} вышел из комнаты`,
        "Беглец!",
        {
          confirmButtonText: "Ок",
          confirmButtonClass: "murr-button__danger bigBtn",
          cancelButtonText: "Ага",
          cancelButtonClass: "murr-button__primary bigBtn",
          customClass: "modal-main",
          type: "warning",
        }
      )
        .then(() => {
          this.$router.push("/");
          this.$store.commit("modal/close");
          this.setShowCreateMurrBattleRoomBtn_mutations(true);
        })
        .catch(() => {
          this.$router.push("/");
          this.$store.commit("modal/close");
          this.setShowCreateMurrBattleRoomBtn_mutations(true);
        });
    },
  },
  beforeDestroy() {
    this.oneOfMurrensLeaveBattleRoom();
  },
};
</script>
