<template>
  <div></div>
</template>
<script>
import {
  websocket_base_url,
  notificationsSocketUrl,
} from "../../devAndProdVariables";
import "./scss/style.scss";
import NotifyItem from "./NotifyItem.vue";
import * as type from "./store/type.js";

export default {
  name: "murr-notifications",
  data() {
    return {
      notificationCount: 0,
    };
  },
  mounted() {
    this.socketInit();
  },
  methods: {
    async socketListener(e) {
      let socketMessage = JSON.parse(e.data);
      let data = socketMessage.data;
      let gan = socketMessage.gan;
      if (gan === "unreaded_notifications") {
        for (let i = 0; i < data.length; i++) {
          await this.createNotify(data[i]);
        }
      } else if (gan === "new_notification") {
        await this.createNotify(data);
      }
    },
    socketOpened() {
      // eslint-disable-next-line no-console
      console.log("socket.onopen");
    },
    socketClosed(e) {
      if (e.wasClean) {
        // eslint-disable-next-line no-console
        console.log("Соединение закрыто чисто");
      } else {
        // eslint-disable-next-line no-console
        console.log("Обрыв соединения");
      }
      // eslint-disable-next-line no-console
      console.log("Код: " + e.code + " причина: " + e.reason);
    },
    socketError(e) {
      // eslint-disable-next-line no-console
      console.log("Ошибка " + e.message);
    },

    socketInit() {
      let token = this.$store.getters.currentMurren.token;
      this.murrTavernSocket = new WebSocket(
        websocket_base_url + notificationsSocketUrl + "?token=" + token
      );

      this.murrTavernSocket.onopen = this.socketOpened;
      this.murrTavernSocket.onmessage = this.socketListener;
      this.murrTavernSocket.onclose = this.socketClosed;
      this.murrTavernSocket.onerror = this.socketError;
    },

    async createNotify(notify) {
      let message = this.$createElement(NotifyItem, {
        props: { notify: notify },
      });
      if (notify.notification_type === "feed")
        this.$store.commit(type.ADD_MURR_CARD_NOTIFY, notify.murr_card.id);
      else if (notify.notification_type === "subscribe")
        await this.$store.dispatch(type.READ_SUBSCRIBE_NOTIFY, notify.id);

      this.notificationCount++;
      let duration = 4000 * this.notificationCount;
      await this.$notify({
        message: message,
        dangerouslyUseHTMLString: true,
        customClass: "notify-popup",
        showClose: true,
        duration: duration,
      });
      setTimeout(() => {
        this.notificationCount--;
      }, duration);
    },
  },
};
</script>
