<template>
  <div class="home-main-container">
    <p class="mb font">Это личная страничка Муррена</p>
    <small>Доступно для авторизованного Муррена</small>
    <el-button class="murr-button__danger" @click="logout"> Выйти </el-button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  methods: {
    ...mapActions({
      notification: "popUpMessage",
    }),
    async logout() {
      this.notification({
        message: "Ты разлогинился 😱",
        type: "success",
      });

      await this.$store.dispatch("logout");
      await this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.font {
  font-size: 1.2rem;
}
</style>
